@{
    ViewBag.Title = "Conger's Heating & Cooling | Oil Delivery & HVAC Installation | 978.728.4757";
}
<div class="row">
    <div class="large-12 columns">
        <div class="panel transparent">
            <div class="row">
                <div class="large-12 columns">
                    <h1>Company</h1>

                    <h2>Prompt & courteous oil deliveries at affordable prices</h2>

                    <p>We are dedicated to providing the best pricing along with the best service on every oil delivery we make. By using our <!--a href="~//OilDelivery/Order"-->oil delivery ordering system, 
                    you can specify exactly what your oil needs are conveniently while our tool helps you to understand and manage your costs for each and every fill up.</p>
                    
                    <h2>We meet all your home comfort needs</h2>
        
                   <p>We are dedicated to upholding the highest levels of customer satisfaction in the heating and air conditioning industry and 
                    provide exceptional customer service throughout each and every installation. Our staff continually stays on top of the latest HVAC
                    technologies through rigorous training and certification programs - ensuring our customers have the best expertise in the 
                    industry to see their projects are done right the first time.</p>
    
                    <h3>Highly Qualified &amp; Experienced Tradesmen</h3>

                    <h4>State Licensing</h4>
                    <ul>
                        <li>Oil Burner Technician License #: <a href="http://www.mass.gov/eopss/consumer-prot-and-bus-lic/license-type/oil-burners/oil-burner-technician-certificate.html" target="_blank">BU-059062</a></li>    
                        <li>Master Sheet Metal Fabricator License #: 3488</li>
                    </ul>

                    <h4>Professional Certification</h4>
                    <ul>    
                        <li><a href="http://www.epa.gov/ozone/title6/608/608fact.html" target="_blank">EPA Section 608</a> Certified for recovery of Freon</l1>    
                        <li>Certification from the <a href="http://www.nefi.com/" target="_blank">New England Fuel Institute</a></li>
                    </ul>

                    <h3>Factory Certified</h3>

                    <ul>
                        <li><a href="http://www.buderus.us/products/oilheating/oilcondensing/logano-gb125be.html" target="_blank">Buderus G125BE</a> Certification (#059062)</li>
                        <li><a href="http://spacepak.com/air-conditioning-products.asp" target="_blank">Spacepak</a> High Velocity A/C Certification</li>
                        <li><a href="http://www.roth-usa.com/products_dwt.cfm" target="_blank">Roth Tank</a> Certification</li>
                    </ul>

                    <h3>Community Oriented</h3>

                    <div id="community">
                        <ul>
                            <li><a href="http://www.lakesamoset.org/" target="_blank">Lake Samoset</a> conservation and management</li>
                        </ul>
                    </div>
                </div>
            </div>
            @Html.Partial("_Footer")
        </div>
    </div>
</div>
