@{
    ViewBag.Title = "Conger's Heating & Cooling, Inc | Oil Delivery & HVAC Installation | 978.728.4757";
}
<div class="row">
    <div class="large-12 columns">
        <div class="panel transparent">
            <div class="row">
                <div class="large-12 columns">
                    <h1>Products</h1>

                    <h2>We Recommend Only the Highest Quality Components to Suit Your Needs</h2>

                    <p>Factory trained to install a variety of heating and cooling equipment, below are our preferred vendors we recommend to our customers. 
                    Of course we are also fully qualified to install or repair any equipment you prefer to use.</p>

                    <h3>Heating Equipment Preferred Brands</h3>

                    <ul>
                        <li><a href="https://www.bosch-climate.us/products-bosch-thermotechnology/boilers/residential-boilers/oil-conventional/" target="_blank">Buderus Boiler</a></li>
                        <li><a href="http://newyorkerboiler.com/" target="_blank">New Yorker Boiler</a></li>
                        <li><a href="http://www.weil-mclain.com/en/weil-mclain/about-us/" target="_blank">Weil Mclain</a></li>
                        <li><a href="http://www.smithboiler.com/" target="_blank">Smith Boiler</a></li>
                        <li><a href="http://www.thermopride.com/">Thermo Pride Furnace</a></li>
                        <li><a href="http://www.thermopride.com/products/spiritfurnace/">Spirit Furnace</a></li>
                        <li><a href="http://www.bardhvac.com/products/oil-furnaces/">Bard Furnace</a></li>
                    </ul>

                    <h3>Cooling Equipment Preferred Brands</h3>

                    <ul>
                        <li><a href="http://www.mitsubishicomfort.com/en/consumer/about-us" target=_blank">Mitsubishi</a></li>
                        <li><a href="http://www.fujitsugeneral.com/index.htm" target=_blank">Fujitsu</a></li>
                        <li><a href="http://www.goodmanmfg.com/" target=_blank">Goodman</a></li>
                        <li><a href="http://www.gibsonhvac.com/air-conditioners.html" target=_blank">Gibson</a></li>
                    </ul>
                </div>
            </div>
            @Html.Partial("_Footer")
        </div>
    </div>
</div>