@{
    ViewBag.Title = "Conger's Heating & Cooling | 24 Hour Service | 978.870.4945";
}
<div class="row">
    <div class="large-12 columns">
        <div class="panel transparent">
            <div class="row">
                <div class="large-12 columns">
                    <h1>Products</h1>

                    <h2>We Recommend Only the Highest Quality Components to Suit Your Needs</h2>

                    <p>Factory trained to install a variety of heating and cooling equipment, below are our preferred vendors we recommend to our customers. 
                    Of course we are also fully qualified to install or repair any equipment you prefer to use.</p>

                    <h3>Heating Equipment Preferred Brands</h3>

                    <ul>
                        <li><a href="http://www.buderus.us/company-info/about-buderus/" target="_blank">Buderus</a></li>
                        <li><a href="http://www.viessmann.com/com/en.html" target="_blank">Viessmann</a></li>
                        <li><a href="http://www.weil-mclain.com/en/weil-mclain/about-us/" target="_blank">Weil Mclain</a></li>
                        <li><a href="http://www.usboiler.net/about-us/" target="_blank">Burnham by US Boiler</a></li>
                    </ul>

                    <h3>Cooling Equipment Preferred Brands</h3>

                    <ul>
                        <li><a href="http://www.amana.com/content.jsp?pageName=hvac" target=_blank">Amana</a></li>    
                        <li><a href="http://www.americanstandardair.com/pages/index.aspx" target=_blank">American Standard</a></li>
                        <li><a href="http://www.bryant.com/" target=_blank">Bryant</a></li>
                        <li><a href="http://www.carrier.com/carrier/en/us/about/" target=_blank">Carrier</a></li>
                        <li><a href="http://www.fujitsugeneral.com/index.htm" target=_blank">Fujitsu</a></li>
                        <li><a href="http://www.goodmanmfg.com/" target=_blank">Goodman</a></li>
                        <li><a href="http://www.lennoxinternational.com/default_lii.asp#" target=_blank">Lennox International</a></li>    
                        <li><a href="http://www.mitsubishicomfort.com/en/consumer/about-us" target=_blank">Mitsubishi</a></li>
                        <li><a href="http://www.rheem.com/" target=_blank">Rheem</a></li>    
                        <li><a href="http://www.ruud.com/" target=_blank">RUDD</a></li>    
                        <li><a href="http://www.york.com/" target=_blank">York</a></li>
                    </ul>
                </div>
            </div>
            @Html.Partial("_Footer")
        </div>
    </div>
</div>