@{
    ViewBag.Title = "Conger's Heating & Cooling | 24 Hour Service | 978.870.4945";
}

<div class="row">
    <div class="large-12 columns">
        <div class="panel transparent">
            @using (Html.BeginForm("SubmitServiceRequest", "Company/Services", FormMethod.Post, new { @id = "SubmitServiceRequestForm", @data_abide = "ajax" }))
            {
            <div class="row">
                <div class="large-12 columns">
                    <h1>Services</h1>
                    <p>We support a comprehensive collection of services to support your home climate needs. Simply select from the items on the list below and indicate
                    if you are looking to install, repair, or service your equipment and we will get back to you within 48 hours or less. If you have any concerns or unique needs
                    outside of what we typically offer, please call us at 978.870.4945 or <a href="~/Support/ContactUs">contact us</a> for additional support.</p>

                    <ul class="accordion" data-accordion>
                        <li class="accordion-navigation">
                            <a href="#ac"><h2>Air Conditioning</h2></a>
                            <div id="ac" class="content @(Request.QueryString["service"] == "ac" ? "active" : "")">
                                    <table>
                                    <tr>
                                        <th width="34%"></th>
                                        <th width="22%">Scheduled Maintenance</th>
                                        <th width="22%">Installation</th>
                                        <th width="22%">Repair</th>
                                    </tr>
                                    <tr>
                                        <td>Central A/C</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="ServiceItemCentralAC" name="rblServiceItemCentralAC" value="Service Central A/C"/>
                                              <label for="ServiceItemCentralAC"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="InstallItemCentralAC" name="rblServiceItemCentralAC" value="Install Central A/C"/>
                                              <label for="InstallItemCentralAC"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio"  id="RepairItemCentralAC" name="rblServiceItemCentralAC" value="Repair Central A/C"/>
                                              <label for="RepairItemCentralAC"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Central Humidifier</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="ServiceItemCentralHumidifier" name="rblServiceItemCentralHumidifier" value="Service Central Humidifier"/>
                                              <label for="ServiceItemCentralHumidifier"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="InstallItemCentralHumidifier" name="rblServiceItemCentralHumidifier" value="Install Central Humidifier"/>
                                              <label for="InstallItemCentralHumidifier"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="RepairItemCentralHumidifier" name="rblServiceItemCentralHumidifier" value="Repair Central Humidifier"/>
                                              <label for="RepairItemCentralHumidifier"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ducts &amp; Vents</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="ServiceItemCentralACDuctsVents" name="rblServiceItemCentralACDuctsVents" value="Service Central A/C Ducts/Vents"/>
                                              <label for="ServiceItemCentralACDuctsVents"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="InstallItemCentralACDuctsVents" name="rblServiceItemCentralACDuctsVents" value="Install Central A/C Ducts/Vents"/>
                                              <label for="InstallItemCentralACDuctsVents"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="RepairItemCentralACDuctsVents" name="rblServiceItemCentralACDuctsVents" value="Repair Central A/C Ducts/Vents"/>
                                              <label for="RepairItemCentralACDuctsVents"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Window A/C</td>
                                        <td></td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="InstallItemWindowAC" name="rblServiceItemWindowAC" value="Install Window A/C Unit"/>
                                              <label for="InstallItemWindowAC"></label>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <li class="accordion-navigation">
                            <a href="#heating"> <h2>Heating &amp; Furnace Systems</h2></a>
                            <div id="heating" class="content @(Request.QueryString["service"] == "heating" ? "active" : "")">
                                <table>
                                    <tr>
                                        <th width="34%"></th>
                                        <th width="22%">Scheduled Maintenance</th>
                                        <th width="22%">Installation</th>
                                        <th width="22%">Repair</th>
                                    </tr>
                                    <tr>
                                        <td>Radiant Floor Heat</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="ServiceItemRadiantFloorHeat" name="rblServiceItemRadiantFloorHeat" value="Service Radiant Floor Heat"/>
                                              <label for="ServiceItemRadiantFloorHeat"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="InstallItemRadiantFloorHeat" name="rblServiceItemRadiantFloorHeat" value="Install Radiant Floor Heat"/>
                                              <label for="InstallItemRadiantFloorHeat"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="RepairItemRadiantFloorHeat" name="rblServiceItemRadiantFloorHeat" value="Repair Radiant Floor Heat"/>
                                              <label for="RepairItemRadiantFloorHeat"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Radiant Panel Heat</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio"id="ServiceItemRadiantPanelHeat" name="rblServiceItemRadiantPanelHeat" value="Service Radiant Panel Heat"/>
                                              <label for="ServiceItemRadiantPanelHeat"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="InstallItemRadiantPanelHeat" name="rblServiceItemRadiantPanelHeat" value="Install Radiant Panel Heat"/>
                                              <label for="InstallItemRadiantPanelHeat"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio"  id="RepairItemRadiantPanelHeat" name="rblServiceItemRadiantPanelHeat" value="Repair Radiant Panel Heat"/>
                                              <label for="RepairItemRadiantPanelHeat"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Oil Boiler</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id ="ServiceItemOilBoiler" name="rblServiceItemOilBoiler" value="Service Oil Boiler"/>
                                              <label for="ServiceItemOilBoiler"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="InstallItemOilBoiler" name="rblServiceItemOilBoiler" value="Install Oil Boiler"/>
                                              <label for="InstallItemOilBoiler"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="RepairItemOilBoiler" name="rblServiceItemOilBoiler" value="Repair Oil Boiler"/>
                                              <label for="RepairItemOilBoiler"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Radiators</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="ServiceItemRadiator" name="rblServiceItemRadiator" value="Service Radiator(s)"/>
                                              <label for="ServiceItemRadiator"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="InstallItemRadiator" name="rblServiceItemRadiator" value="Install Radiator(s)"/>
                                              <label for="InstallItemRadiator"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="RepairItemRadiator" name="rblServiceItemRadiator" value="Repair Radiator(s)"/>
                                              <label for="RepairItemRadiator"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Oil Furnace</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="ServiceItemOilFurnace" name="rblServiceItemOilFurnace" value="Service Oil Furnance"/>
                                              <label for="ServiceItemOilFurnace"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="InstallItemOilFurnace" name="rblServiceItemOilFurnace" value="Install Oil Furnance"/>
                                              <label for="InstallItemOilFurnace"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="RepairItemOilFurnace" name="rblServiceItemOilFurnace" value="Repair Oil Furnance"/>
                                              <label for="RepairItemOilFurnace"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ducts &amp; Vents</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="ServiceItemHeatDuctsVents" name="rblServiceItemHeatDuctsVents" value="Service Ducts/Vents"/>
                                              <label for="ServiceItemHeatDuctsVents"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="InstallItemHeatDuctsVents" name="rblServiceItemHeatDuctsVents" value="Install Ducts/Vents"/>
                                              <label for="InstallItemHeatDuctsVents"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="RepairItemHeatDuctsVents" name="rblServiceItemHeatDuctsVents" value="Repair Ducts/Vents"/>
                                              <label for="RepairItemHeatDuctsVents"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Water Tank</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="ServiceItemWaterTank" name="rblServiceItemWaterTank" value="Service Water Tanks"/>
                                              <label for="ServiceItemWaterTank"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="InstallItemWaterTank" name="rblServiceItemWaterTank" value="Install Water Tanks"/>
                                              <label for="InstallItemWaterTank"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="RepairItemWaterTank" name="rblServiceItemWaterTank" value="Repair Water Tanks"/>
                                              <label for="RepairItemWaterTank"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Oil Tank</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="ServiceItemOilTank" name="rblServiceItemOilTank" value="Service Oil Tank"/>
                                              <label for="ServiceItemOilTank"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="InstallItemOilTank" name="rblServiceItemOilTank" value="Install Oil Tank"/>
                                              <label for="InstallItemOilTank"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio"  id="RepairItemOilTank" name="rblServiceItemOilTank" value="Repair Oil Tank"/>
                                              <label for="RepairItemOilTank"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Thermostat</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="ServiceItemThermostat" name="rblServiceItemThermostat" value="Service Thermostat"/>
                                              <label for="ServiceItemThermostat"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="InstallItemThermostat" name="rblServiceItemThermostat" value="Install Thermostat"/>
                                              <label for="InstallItemThermostat"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="RepairItemThermostat" name="rblServiceItemThermostat" value="Repair Thermostat"/>
                                              <label for="RepairItemThermostat"></label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <li class="accordion-navigation">
                            <a href="#wells"><h2>Wells</h2></a>
                            <div id="wells" class="content @(Request.QueryString["service"] == "wells" ? "active" : "")">
                                <table>
                                    <tr>
                                        <th width="34%"></th>
                                        <th width="22%">Scheduled Maintenance</th>
                                        <th width="22%">Installation</th>
                                        <th width="22%">Repair</th>
                                    </tr>
                                    <tr>
                                        <td>Well Pump</td>
                                        <td />
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="InstallWellPump" name="rblServiceItemWellPump" value="Install Well Pump"/>
                                              <label for="InstallWellPump"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="radio" id="RepairWellPump" name="rblServiceItemWellPump" value="Repair Well Pump"/>
                                              <label for="RepairWellPump"></label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                    <br /><br />
                    <div class="panel radius">
                        <h2 class="blue">Please provide us the following information so we can better assist you:</h2>
                        <br />
                        <div class="row">
                             <div class="large-4 columns text-right field-label">
                                <span>Type of Request:</span>
                             </div>
                            <div class="large-2 columns">
                                <div class="switch radius ">
                                  <input type="radio" name="rblRequestType" value="Estimate Request" id="estimate" required /> 
                                  <label for="estimate"></label>
                                </div> 
                            </div>
                            <div class="large-6 columns">
                                Estimate
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">&nbsp;</div>
                            <div class="large-2 columns">
                                <div class="switch radius">
                                  <input type="radio" name="rblRequestType" value="Scheduled Maintenance Request" id="scheduled" />
                                  <label for="scheduled"></label>
                                  <p class="right"></p>
                                </div> 
                            </div>
                            <div class="large-6 columns">
                                Scheduled Service Appointment
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">&nbsp;</div>
                            <div class="large-2 columns">
                                <div class="switch radius">
                                  <input type="radio" name="rblRequestType" value="Emergency Service Request" id="emergency" required/> 
                                  <label for="emergency"></label>
                                </div> 
                            </div>
                            <div class="large-6 columns">
                                Emergency Service Appointment
                            </div>
                        </div>
                        <div class="row">
                             <div class="large-4 columns text-right field-label">
                                <span>Preferred Contact Time:</span>
                             </div>
                            <div class="large-4 columns">
                                <select id="ContactTime" name="ContactTime">
                                    <option>Morning</option>
                                    <option>Afternoon</option>
                                    <option>Evening</option>
                                </select>
                             </div>
                            <div class="large-4 columns"></div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns text-right field-label">
                                <span>First Name:</span>
                            </div>
                            <div class="large-4 columns">
                                <input type="text" name="FirstName" id="FirstName" maxlength="50" required pattern="alpha_numeric" placeholder="Enter your first name" />
                                <small class="error">A valid first name is required.</small>
                            </div>
                            <div class="large-4 columns">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns text-right field-label">
                                <span>Last Name:</span>
                            </div>
                            <div class="large-4 columns">
                                <input type="text" name="LastName" id="LastName" maxlength="50" required pattern="alpha_numeric" placeholder="Enter your last name" />
                                <small class="error">A valid last name is required.</small>
                            </div>
                            <div class="large-4 columns">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns text-right field-label">
                                <span>Preferred Phone:</span>
                            </div>
                            <div class="large-6 columns">
                                <input type="text" name="Phone" id="Phone" maxlength="12" required pattern="^\d{3}[-\.\s]\d{3}[-\.\s]\d{4}$" placeholder="xxx-xxx-xxxx" />
                                <small class="error">An valid phone number is required.</small>
                            </div>
                            <div class="large-2 columns">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns text-right field-label">
                                <span>Email:</span>
                            </div>
                            <div class="large-6 columns">
                                <input type="text" name="Email" id="Email" size="40" maxlength="255" required pattern="email" placeholder="Enter your email" />
                                <small class="error">An valid email is required.</small>
                            </div>
                            <div class="large-2 columns">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns text-right field-label">
                                <span>Additional information:</span>
                            </div>
                            <div class="large-8 columns text-center">
                                 <textarea name="Comments" id="Comments" cols="75" rows="8" maxlength="2500"></textarea>
                                <div id="charactersRemaining" class="">2500 characters remaining</div>
                            </div>
                        </div>    
                        <br />
                        <div class="row">
                            <div class="large-12 columns text-center">
                                <p>
                                    <button type="submit">Submit</button> <button type="reset">Reset This Form</button>
                                </p>
                            </div>
                        </div>
                    
                        <div id="EmergencyServiceNoteModal"  class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                            <div class="row">
                                <div class="large-12 columns">
                                    <h3>Attention</h3>
                                    You have selected Emergency Service. When you submit this request an SMS Text will be sent to one of our technicians in the field and will call you at the provided number.
                                    If the timing is extremely urgent,  <b><i>then please call us directly at 978.870.4945.</i></b>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="large-12 columns text-center">
                                    <p>
                                        <button type="submit">Close</button>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            }
            @Html.Partial("_Footer")
        </div>
    </div>
</div>

@section scripts {
    
<script type="text/javascript">
    $(document).ready(function () {
            
        $("#SubmitServiceRequestForm").on('valid', function () {
            $("#SubmitServiceRequestForm").submit();
        });

        $("#EmergencyServiceNoteModal button").on('click', function () {
            $('#EmergencyServiceNoteModal').foundation('reveal', 'close');
        });

        $("input[name^=rblRequestType][id^=emergency]").on("click", function (event) {
            $('#EmergencyServiceNoteModal').foundation('reveal', 'open');
        });

        $("#SubmitServiceRequestForm").bind("reset", function () {

            var max = 2500;
            var len = $(this).val().length;
            var char = max - len;

            $('#charactersRemaining').text(char + ' characters left');
        });

        $('#Comments').keypress(function (event) {
            var max = 2500;
            var len = $(this).val().length;

            if (event.which < 0x20) {
                // e.which < 0x20, then it's not a printable character
                // e.which === 0 - Not a character
                return; // Do nothing
            }

            if (len >= max) {
                event.preventDefault();
            }
        });

        $('#Comments').keyup(function (event) {

            var max = 2500;
            var len = $(this).val().length;
            var char = max - len;

            $('#charactersRemaining').text(char + ' characters left');

        });
    });
</script>
}