@{
    ViewBag.Title = "Conger's Heating & Cooling, Inc | Oil Delivery & HVAC Installation | 978.728.4757";
}

<div class="row">
    <div class="large-12 columns">
        <div class="panel transparent">
            @using (Html.BeginForm("SubmitServiceRequest", "Company/Services", FormMethod.Post, new { @id = "SubmitServiceRequestForm", @data_abide = "ajax" }))
            {
            <div class="row">
                <div class="large-12 columns">
                    <h1>Installation Services</h1>
                    <p>We support a comprehensive suite of installation services to satisfy all of your home climate needs. Simply select what system(s) 
                    you are considering having installed and we will get back to you within 48 hours or less to confirm your project details and schedule. If you have any concerns or unique needs
                    outside of what we typically offer, please call us at 978.728.4757 or <a href="~/Support/ContactUs">contact us</a> for additional support.</p>

                    <ul class="accordion" data-accordion>
                        <li class="accordion-navigation">
                            <a href="#ac"><h2>Air Conditioning</h2></a>
                            <div id="ac" class="content @(Request.QueryString["service"] == "ac" ? "active" : "")">
                                    <table width="100%">
                                    <tr>
                                        <td width="50%">Central A/C</td>
                                        <td width="50%">
                                            <div class="switch round large">
                                              <input type="checkbox" id="InstallItemCentralAC" name="rblServiceItemCentralAC" value="Install Central A/C"/>
                                              <label for="InstallItemCentralAC"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ductless A/C</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="checkbox" id="InstallItemMiniSplit" name="rblServiceItemMiniSplit" value="Install Ductless A/C"/>
                                              <label for="InstallItemMiniSplit"></label>
                                            </div>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </li>
                        <li class="accordion-navigation">
                            <a href="#heating"> <h2>Heating &amp; Furnace Systems</h2></a>
                            <div id="heating" class="content @(Request.QueryString["service"] == "heating" ? "active" : "")">
                                <table width="100%">
                                    <tr>
                                        <td width="50%">Panel Radiators</td>
                                        <td width="50%">
                                            <div class="switch round large">
                                              <input type="checkbox" id="InstallItemRadiantPanelHeat" name="rblServiceItemRadiantPanelHeat" value="Install Radiant Panel Heat"/>
                                              <label for="InstallItemRadiantPanelHeat"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Oil Boiler</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="checkbox" id="InstallItemOilBoiler" name="rblServiceItemOilBoiler" value="Install Oil Boiler"/>
                                              <label for="InstallItemOilBoiler"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Oil Furnace</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="checkbox" id="InstallItemOilFurnace" name="rblServiceItemOilFurnace" value="Install Oil Furnance"/>
                                              <label for="InstallItemOilFurnace"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Water Tank</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="checkbox" id="InstallItemWaterTank" name="rblServiceItemWaterTank" value="Install Water Tanks"/>
                                              <label for="InstallItemWaterTank"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Oil Tank</td>
                                        <td>
                                            <div class="switch round large">
                                              <input type="checkbox" id="InstallItemOilTank" name="rblServiceItemOilTank" value="Install Oil Tank"/>
                                              <label for="InstallItemOilTank"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ductless Heat Pump</td>
                                        <td>
                                            <div class="switch round large">
                                                <input type="checkbox" id="InstallItemMiniSplitHeat" name="rblServiceItemMiniSplitHeat" value="Install Ductless Heat Pump" />
                                                <label for="InstallItemMiniSplitHeat"></label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                    <br /><br />
                    <div class="panel radius">
                        <h2 class="blue">Please provide us the following information so we can better assist you:</h2>
                        <br />
                        <div class="row">
                             <div class="large-4 columns field-label">
                                <span>Type of Request:</span>
                             </div>
                            <div class="large-2 columns">
                                <div class="switch radius ">
                                  <input type="radio" name="rblRequestType" value="Estimate Request" id="estimate" required /> 
                                  <label for="estimate"></label>
                                </div> 
                            </div>
                            <div class="large-6 columns">
                                Estimate
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">&nbsp;</div>
                            <div class="large-2 columns">
                                <div class="switch radius">
                                  <input type="radio" name="rblRequestType" value="Installation Request" id="installation" />
                                  <label for="installation"></label>
                                  <p class="right"></p>
                                </div> 
                            </div>
                            <div class="large-6 columns">
                                Schedule Installation
                            </div>
                        </div>
                        <div class="row">
                             <div class="large-4 columns field-label">
                                <span>Preferred Contact Time:</span>
                             </div>
                            <div class="large-4 columns">
                                <select id="ContactTime" name="ContactTime">
                                    <option>Morning</option>
                                    <option>Afternoon</option>
                                    <option>Evening</option>
                                </select>
                             </div>
                            <div class="large-4 columns"></div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns field-label">
                                <span>First Name:</span>
                            </div>
                            <div class="large-4 columns">
                                <input type="text" name="FirstName" id="FirstName" maxlength="50" required pattern="alpha_numeric" placeholder="Enter your first name" />
                                <small class="error">A valid first name is required.</small>
                            </div>
                            <div class="large-4 columns">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns field-label">
                                <span>Last Name:</span>
                            </div>
                            <div class="large-4 columns">
                                <input type="text" name="LastName" id="LastName" maxlength="50" required pattern="alpha_numeric" placeholder="Enter your last name" />
                                <small class="error">A valid last name is required.</small>
                            </div>
                            <div class="large-4 columns">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns field-label">
                                <span>Preferred Phone:</span>
                            </div>
                            <div class="large-6 columns">
                                <input type="text" name="Phone" id="Phone" maxlength="12" required pattern="^\d{3}[-\.\s]\d{3}[-\.\s]\d{4}$" placeholder="xxx-xxx-xxxx" />
                                <small class="error">An valid phone number is required.</small>
                            </div>
                            <div class="large-2 columns">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns field-label">
                                <span>Email:</span>
                            </div>
                            <div class="large-6 columns">
                                <input type="text" name="Email" id="Email" size="40" maxlength="255" required pattern="email" placeholder="Enter your email" />
                                <small class="error">An valid email is required.</small>
                            </div>
                            <div class="large-2 columns">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns field-label">
                                <span>Additional information:</span>
                            </div>
                            <div class="large-8 columns text-center">
                                 <textarea name="Comments" id="Comments" cols="75" rows="8" maxlength="2500"></textarea>
                                <div id="charactersRemaining" class="">2500 characters remaining</div>
                            </div>
                        </div>    
                        <br />
                        <div class="row">
                            <div class="large-12 columns text-center">
                                <p>
                                    <button type="submit">Submit</button> <button type="reset">Reset This Form</button>
                                </p>
                            </div>
                        </div>
                    
                        <div id="EmergencyServiceNoteModal"  class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                            <div class="row">
                                <div class="large-12 columns">
                                    <h3>Attention</h3>
                                    You have selected Emergency Service. When you submit this request an SMS Text will be sent to one of our technicians in the field and will call you at the provided number.
                                    If the timing is extremely urgent,  <b><i>then please call us directly at 978.728.4757.</i></b>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="large-12 columns text-center">
                                    <p>
                                        <button type="submit">Close</button>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            }
            @Html.Partial("_Footer")
        </div>
    </div>
</div>

@section scripts {
    
<script type="text/javascript">
    $(document).ready(function () {
            
        $("#SubmitServiceRequestForm").on('valid', function () {
            $("#SubmitServiceRequestForm").submit();
        });

        $("#EmergencyServiceNoteModal button").on('click', function () {
            $('#EmergencyServiceNoteModal').foundation('reveal', 'close');
        });

        $("input[name^=rblRequestType][id^=emergency]").on("click", function (event) {
            $('#EmergencyServiceNoteModal').foundation('reveal', 'open');
        });

        $("#SubmitServiceRequestForm").bind("reset", function () {

            var max = 2500;
            var len = $(this).val().length;
            var char = max - len;

            $('#charactersRemaining').text(char + ' characters left');
        });

        $('#Comments').keypress(function (event) {
            var max = 2500;
            var len = $(this).val().length;

            if (event.which < 0x20) {
                // e.which < 0x20, then it's not a printable character
                // e.which === 0 - Not a character
                return; // Do nothing
            }

            if (len >= max) {
                event.preventDefault();
            }
        });

        $('#Comments').keyup(function (event) {

            var max = 2500;
            var len = $(this).val().length;
            var char = max - len;

            $('#charactersRemaining').text(char + ' characters left');

        });
    });
</script>
}