<div class="footer">
    <p>&copy Conger Heating &amp; Cooling, Inc 2013 - All Rights Reserved</p>
	<p><a href="~/Company/Home">Home</a> &bull; <a href="~/Company/About">Company</a> &bull; <a href="~/Company/Products">Products</a> &bull; <a href="~/Company/Services">Services</a> &bull; <!--<a href="~/Company/Testimonials">Testimonials</a>  &bull; --><a href="~/Support/ContactUs">Contact</a></p>
    <p>All other trademarks are the property of their respective owners.</p>
    <img src="~/Content/Images/Logos/RapidSSL_SEAL-90x50.gif" />
</div>