<div id="globalPriceAdjuster" class="reveal-modal" data-reveal aria-labelledby="Pricing Adjuster" aria-hidden="true" role="dialog">
    <div class="row">
        <div class="large-12 columns">
            <div class="panel transparent">
                <h1>Global Price Adjustment</h1>
                <a class="close-reveal-modal">&#215;</a>
                <p>Simply enter your lowest price and the increment and all prices will be adjust automatically.</p>
                <div class="row">
                    <div class="large-2 columns">
                        <input type="text" maxlength="6" id="minimumPrice" name="minimumPrice" />
                    </div>
                    <div class="large-2 columns">
                        <input type="text" maxlength="6" id="priceIncrement" name="priceIncrement" value="0.05" />
                    </div>
                    <div class="large-8 columns">
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns text-center">
                        <button id="calculatePrices">Adjust</button>
                        <a class="button custom-close-reveal-modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
