@model CongerHeatingAndCooling.Models.NavigationModel
<div class="row">
    <div class="large-12 columns">
        <div class="sticky">
            <div class="transparent chc-header">
                <div class="row">
                    <div class="large-3 medium-3 columns">
                        <a href="~/Company/Home"><img src="~/Content/Images/Logos/chclogo-small.png" class="logo" /></a>
                    </div>
                    <div class="large-5 medium-5 columns">
                        <img src="~/Content/Images/licensed-insured-free-estimates.png" alt="Fully Licensed &amp; Insured, Free Estimates!" class="left" />
                        <a href="~/OilDelivery/Order">
                        <div class="truck" data-tooltip class="has-tip" title="Per gallon based on a mimimum order of @Model.MimimumGallons gallons. Price subject to vary based on payment method and delivery location. Other conditions may apply. Please call 978.728.4757 or visit our order form for details.">
                            <p>@Html.Raw(Model.PricePerGallon)</p>
                            
                        </div>
                        </a>
                    </div>
                    <div class="large-4 medium-4 columns right">
                        <img src="~/Content/Images/accepted-cards-small.png" class="acceptedCards"/>
                        <div><span>FOR OIL DELIVERY EMERGENCY CALL:</span> 978.870.4945</div>
                    </div>
                </div>
            </div>
            <nav class="top-bar" data-topbar role="navigation"  data-options="scrolltop: false">
                <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="has-dropdown">
                    <a href="#">Company</a>
                    <ul class="dropdown">
                        <li><a href="~/Company/About">About</a></li>
                        <li><a href="~/Company/Products">Products</a></li>
                    </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="has-dropdown">
                    <a href="#">Installation</a>
                    <ul class="dropdown">
                        <li><a href="~/Company/Services?service=ac">Air Conditioning</a></li>
                        <li><a href="~/Company/Services?service=heating">Heating &amp; Furnace</a></li>
                    </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="has-dropdown">
                    <a href="#">Oil Delivery</a>
                    <ul class="dropdown">
                        <li><a href="~/OilDelivery/ServiceArea">Delivery Area</a></li>
                        <li><a href="~/OilDelivery/Order">Order Oil</a></li>
                    </ul>
                    </li>
                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                    <li class="has-dropdown">
                     <a href="#">Contact Us</a>
                    <ul class="dropdown">
                        <li><a href="#">978.728.4757 <small>(office)</small></a></li>
                        <li><a href="#">978.870.4945 <small>(emergency)</small></a></li>
                        <li><a href="~/Support/ContactUs">Contact Form</a></li>
                    </ul>
                    </li>
                </ul>
                </section>
            </nav>
        </div>
    </div>
</div>
