@{
    ViewBag.Title = "Conger's Heating & Cooling, Inc | Oil Delivery & HVAC Installation | 978.728.4757";
}
<div class="row">
    <div class="large-12 columns">
        <div class="panel transparent text-center">
            <h1>Success!</h1>
            <br />
            <p>Thank you for your submission. One of our associates will get back to you as soon as possible.</p>
            <br />
            <h2>We appreciate your business!</h2>
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
