<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BulkProcessingService" value="BulkDataAuditService_Dev" />
    <add key="popPort" value="995" />
    <add key="popHostName" value="mail.comcast.net"/>
    <add key="popUserName" value="chc.pricing@comcast.net" />
    <add key="popPassword" value="listener@2015" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
